body {
    display: flex;
    flex-direction: row;
}

.sliders {
    width: 15%;
    display: flex;
    flex-direction: column;
}


.slider-container {
    width: 70%;
}

.heading {
    display: flex;
    justify-content: space-between;
}

.credits {
    margin-top: 50px;
}

#map {
    width: 85%;
    height: 98vh;
}
